<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>contact-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input [(ngModel)]="contact.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Numéro</ion-label>
      <ion-input [(ngModel)]="contact.number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="validate()">Valider</ion-button>

</ion-content>
